@font-face {
  font-family: 'SS';
  src: url('/fonts/SourceSansPro-Regular.otf');
}

:root { 
  --bright: rgb(212, 175, 55); 
  --dark: rgb(30, 30, 30); 
} 

* {
  font-family: SS;
  font-size: 6vmin;
  background: var(--dark);
  color: var(--bright);
}

div {
  position: absolute;
  display: block;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

form * {
  margin: 2px;
  border-radius: 5px;
  border: 1px solid var(--bright);
}

select {
  width: 95%;
}

#degree {
  width: 20%;
}

#name {
  width: 70%;
}

.header {
  position: absolute;
}

.text {
  padding: 3px;
}

#username {
  top: 5px;
  right: 5px;
}

#change {
  top: 5px;
  left: 5px;
}

hr {
  color: var(--bright);
  background-color: var(--bright);
}
